$primary: #005dac
$secondary: #27609c
$accent: #4a5e78

$dark: #1b1c1c
$dark-page: #303030

$positive: #1b8754
$negative: #ba1a1a
$info: #1976d2
$warning: #e65100

$typography-font-family: 'Roboto Flex Variable', 'Roboto Flex', Roboto, Arial, sans-serif
$button-border-radius: 4px
$generic-border-radius: 4px
