$primary: #0067c0
$secondary: #0078d4
$accent: #4f6bed

$dark: #1f1f1f
$dark-page: #303030

$positive: #0f7b0f
$negative: #c42b1c
$info: #0067c0
$warning: #9d5d00

$typography-font-family: 'Segoe UI', system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif
$button-border-radius: 7px
$generic-border-radius: 8px
